<link rel="stylesheet" href="~/css/styles.css">
@{
    ViewData["Title"] = "MazeCode";
}



<h1 class="nav-bar">@ViewData["Title"]</h1>

<p class="about">@ViewBag.Texto</p>

<p>@ViewBag.TextoArtigo</p>

<a href="@ViewBag.Link" target="_blank"> @ViewBag.NomeArtigo  </a>

